<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<div [class.sidebar]="true" [class.collapsed]="collapsed">

  <div class="sidebar-top">
    <div class="logo">
        <span *ngIf="!collapsed">Platform Learning</span>
    </div>
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <div class="sidebar-menu-wrapper"> 
        <ul class="menu">

            <li (click)="navigate('/user/userDashboard')">
                <i class="fas fa-home"></i>
                <span *ngIf="!collapsed">Dashboard</span>
            </li>
            
            <li (click)="navigate('/user/browse-courses')">
                <i class="fas fa-search"></i>
                <span *ngIf="!collapsed">Browse Courses</span>
            </li>

            <li (click)="navigate('/user/my-courses')">
                <i class="fas fa-book-open"></i>
                <span *ngIf="!collapsed">My Courses</span>
            </li>

            <li (click)="navigate('/user/recommendedForYou')">
                <i class="fas fa-robot"></i>
                <span *ngIf="!collapsed">Recommended for you</span>
            </li>

            <li (click)="navigate('/user/my-progress')">
                <i class="fas fa-chart-line"></i>
                <span *ngIf="!collapsed">My Progress</span>
            </li>

            <li (click)="navigate('/user/profile')">
                <i class="fas fa-user"></i>
                <span *ngIf="!collapsed">Profile</span>
            </li>

        </ul>
   </div>
  <div class="sidebar-bottom">
    <button class="logout-btn" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
      <span *ngIf="!collapsed">Logout</span>
    </button>
  </div>

</div>