<div class="auth-page">

  <!-- LEFT: FORM -->
  <div class="auth-left">

    <div class="auth-card glass">
      <h2>New password</h2>

      <p class="subtitle">
        Enter your new password
      </p>

      <input
        type="password"
        name="password"
        placeholder="New password"
        [(ngModel)]="password"
      >

      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirm password"
        [(ngModel)]="confirmPassword"
      >

      <button (click)="reset()" class="login-button">
        Reset password
      </button>

    </div>

  </div>

  <!-- RIGHT: IMAGE -->
  <div class="auth-right"></div>

</div>

<!-- LOADER -->
<div class="loader-overlay" *ngIf="loading">
  <div class="spinner"></div>
</div>