/* PAGE LAYOUT */
.auth-page {
  min-height: 100vh;
  display: flex;
  background: #f7f7f7;
}

/* LEFT SIDE */
.auth-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

/* CARD */
.auth-card {
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
}

.auth-card h2 {
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}

.subtitle {
  color: #777;
  margin-bottom: 25px;
  font-size: 14px;
  text-align: center;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  margin-top: 12px;
}

.auth-card input:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37,99,235,0.1);
}

.auth-card input,
.login-button {
  width: 100%;
  box-sizing: border-box;   
}

/* BUTTON */
.login-button {
  width: 100%;
  margin-top: 12px;         
  padding: 12px;            
  background: #3b7d3a;
  border: 1px solid transparent; 
  color: white;
  border-radius: 8px;       
  font-size: 14px;          
  cursor: pointer;
}

.login-button:hover {
  background: #2f6630;
}

/* RIGHT IMAGE */
.auth-right {
  flex: 1;
  background-image: url('../../../../public/login1.webp');
  background-size: cover;
  background-position: center;
}

/* LOADER */
.loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(15, 31, 28, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  width: 70px;
  height: 70px;
  border: 6px solid rgba(255,255,255,0.2);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


@media (max-width: 1000px) {

  /* PAGE KAO BACKGROUND */
  .auth-page {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
  }

  /* BACKGROUND SLIKA */
  .auth-right {
    position: absolute;
    inset: 0;
    background-image: url('../../../../public/login1.webp');
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  /* TAMNI OVERLAY */
  .auth-right::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
  }

  /* FORMA PREKO SLIKE */
  .auth-left {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* GLASS KARTICA */
  .auth-card {
    width: 100%;
    max-width: 380px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 28px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  }
}