<div class="auth-page">

  <!-- LEFT: FORM -->
  <div class="auth-left">

    <div class="auth-card glass">
      <h2>Reset password</h2>

      <p class="subtitle">
        Enter your email and we will send you a reset link
      </p>

      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
      >

      <button (click)="sendReset()" class="login-button">
        Send reset link
      </button>

      <p class="link-button">
        Remember password?
        <button class="register-button" (click)="goToLogin()">
          Back to login
        </button>
      </p>
    </div>

  </div>

  <!-- RIGHT: IMAGE -->
  <div class="auth-right"></div>

</div>

<!-- LOADER -->
<div class="loader-overlay" *ngIf="loading">
  <div class="spinner"></div>
</div>